.confirm-box .dialog__content{
    min-width: 200px;
    padding: 16px;
    padding-top: 0;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}
.confirm-box .footer{
    margin-top: 24px;

}
.confirm-box{
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    
}