#toast{
    position: fixed;
    right: 24px;
    bottom: 24px;
}
.toast{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    min-width: 300px;
    box-shadow: 2px 1px 5px rgba(0 ,0 ,0 , 0.5);
    margin-bottom: 24px;
    /* animation: showToast ease .3s, fadeOut linear 1s 3s forwards; */
    min-height: 80px;
    overflow: hidden;
    transition: all linear .3s ;
    border-left: 6px solid black;
    border-radius: 5px;
}
.toast__content{
    flex: 1;
}

.toast-container{
    border: 2px;
}
@keyframes showToast{
    from{
        transform: translateX(calc(100%  + 24px));
    }
    to{
        transform: translateX(0);

    }
}
@keyframes fadeOut{
    to{
        opacity: 0;
    }
}
.toast__icon{
    /* width: 50px; */
    margin: 0 18px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.toast__close{
    font-size: 20px;
    padding: 18px;
}
.toast__close:hover{
    background-color: rgb(233, 233, 233);
    font-size: 30px;
}
.toast__msg{
    flex-grow: 1;
}
.toast-fail{
    border-color: red;
}
.toast-warning{
    border-color: rgb(255, 194, 12);
}
.toast-success{
    border-color: green;
}
.toast-infor{
    border-color: blue;
}