.content{
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100% - 56px);
    padding: 0 16px;
}
.content>.navbar{
    margin-bottom: 8px;
}
.content .paging__ele{
    padding: 10px 10px;
}
.content .paging__ele-btn{
    display: flex;
    border-radius: 50%;
}
.content .paging .input{
    width: 64px;
    height: 32px;
    text-align: center;
}
.content .paging__ele-btn:hover{
    background-color: #f5f5f5
}

/* layout 1  */
.content--alert{
    margin: auto;
    align-items: center;
    justify-content: center;
}
.content--alert img{
    height: 150px;
    width:150px ;
}
.content--alert .header{
    margin-top: 24px;
    height: 48px;
}
.content--alert p{
    height: 48px;
}

